@model SportFixtureTracking.Models.Fixture

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Fixture</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FixtureId" />
            <div class="form-group">
                <label asp-for="FixtureDate" class="control-label"></label>
                <input asp-for="FixtureDate" class="form-control" />
                <span asp-validation-for="FixtureDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HomeTeamId" class="control-label"></label>
                <select asp-for="HomeTeamId" class="form-control" asp-items="ViewBag.HomeTeamId"></select>
                <span asp-validation-for="HomeTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AwayTeamId" class="control-label"></label>
                <select asp-for="AwayTeamId" class="form-control" asp-items="ViewBag.AwayTeamId"></select>
                <span asp-validation-for="AwayTeamId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FixtureHome" class="control-label"></label>
                <input asp-for="FixtureHome" class="form-control" />
                <span asp-validation-for="FixtureHome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsFinished" class="control-label"></label>
                <input asp-for="IsFinished" class="form-control" />
                <span asp-validation-for="IsFinished" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
