@model SportFixtureTracking.Models.Team

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">Editing @Model.TeamName</h1>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TeamId" />
            <div class="form-group">
                <label asp-for="ClubId" class="control-label" style="color:aliceblue;text-align:center">Club</label>
                <select asp-for="ClubId" class="form-control" asp-items="ViewBag.ClubId"></select>
                <span asp-validation-for="ClubId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportId" class="control-label" style="color:aliceblue;text-align:center">Sport</label>
                <select asp-for="SportId" class="form-control" asp-items="ViewBag.SportId"></select>
                <span asp-validation-for="SportId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label" style="color:aliceblue;text-align:center">Name</label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlayerCount" class="control-label" style="color:aliceblue;text-align:center">Player Count</label>
                <input asp-for="PlayerCount" class="form-control" />
                <span asp-validation-for="PlayerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-info mr-3" />
                <a asp-action="Index">
                    <i class="fas fa-reply" style="color:coral"></i>
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
