@model SportFixtureTracking.Models.Sport

@{
    ViewData["Title"] = "Delete";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">Deleting @Model.SportName </h1>

</div>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color:aliceblue;text-align:center">
            Name
        </dt>
        <dd class="col-sm-10" style="color: #9d9d9d;">
            @Html.DisplayFor(model => model.SportName)
        </dd>
        <dt class="col-sm-2" style="color:aliceblue;text-align:center">
            Description
        </dt>
        <dd class="col-sm-10" style="color: #9d9d9d;">
            @Html.DisplayFor(model => model.SportDescription)
        </dd>
        <dt class="col-sm-2" style="color:aliceblue;text-align:center">
            Required Team Player Count
        </dt>
        <dd class="col-sm-10" style="color: #9d9d9d;">
            @Html.DisplayFor(model => model.RequiredTeamPlayerCount)
        </dd>
    </dl>

    <form asp-action="Delete" class="d-flex justify-content-center align-items-center h-100">
        <input type="hidden" asp-for="SportId" />
        <input type="submit" value="Delete" class="btn btn-danger" style="margin-right:50px;" />
        <a asp-action="Index">
            <i class="fas fa-reply" style="color:coral"></i>
        </a>
    </form>
</div>
