@model IEnumerable<SportFixtureTracking.Models.Sport>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">Sports</h1>

</div>

 <table class="table table-hover" style="background-color:#272727;">
     <thead>
         <tr style="color:aliceblue;text-align:center">
             <th>
                 Name
             </th>
             <th></th>
         </tr>
     </thead>
     <tbody>
         @foreach (var item in Model)
         {
             <tr style="color: #9d9d9d; text-align: center">
                 <td>
                     @Html.DisplayFor(modelItem => item.SportName)
                 </td>
                 <td >
                     <a asp-action="Edit" asp-route-id="@item.SportId">
                        <i class="fas fa-edit" style="color:#c6ab19"></i>
                    </a> |
                    <a asp-action="Details" asp-route-id="@item.SportId">
                        <i class="fas fa-info-circle" style="color:#07cdfa"></i>
                    </a> |
                    <a asp-action="Delete" asp-route-id="@item.SportId">
                        <i class="fas fa-trash-alt" style="color:#bb3939"></i>
                    </a>
                 </td>
             </tr>
         }
     </tbody>
 </table>
 <div class="d-flex justify-content-center align-items-center h-100">
     <a asp-action="Create" style="color: #c6ab19; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; ">
         <i class="fas fa-plus fa-1x" style="color:#c6ab19;"></i> New
     </a>
 </div>