@model SportFixtureTracking.Models.Club

@{
    ViewData["Title"] = "Create";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">Creating New Club</h1>

</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ClubName" class="control-label" style="color:aliceblue">Name</label>
                <input asp-for="ClubName" class="form-control" />
                <span asp-validation-for="ClubName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClubDescription" class="control-label" style="color:aliceblue">Description</label>
                <input asp-for="ClubDescription" class="form-control" />
                <span asp-validation-for="ClubDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-info" />
                <a asp-action="Index">
                    <i class="fas fa-reply" style="color:coral"></i>
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
