@model SportFixtureTracking.Models.Club

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex justify-content-center align-items-center h-100">
    <h1 class="mb-3" style="color:aliceblue">@Model.ClubName Details</h1>

</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2" style="color:aliceblue;text-align:center">
            Club Name
        </dt>
        <dd class="col-sm-10" style="color: #9d9d9d;">
            @Html.DisplayFor(model => model.ClubName)
        </dd>
        <dt class="col-sm-2" style="color:aliceblue;text-align:center">
            Club Description
        </dt>
        <dd class="col-sm-10" style="color: #9d9d9d;">
            @Html.DisplayFor(model => model.ClubDescription)
        </dd>
    </dl>
</div>
<div class="d-flex justify-content-center align-items-center h-100" >
<a asp-action="Edit" asp-route-id="@Model.ClubId" style="color:#c6ab19;margin-right:50px;" class="mr-3">Edit</a>
    <a asp-action="Index">
    <i class="fas fa-reply" style="color:coral"></i>
    </a>
</div>
